@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto&display=swap');

@import "mixins";
@import "variables";
@import "nullstyle";
/*lighthouse*/
.body {
  background-color: $bg-color-doc;
  &_initial-hidden {
    display: none;
  }
}
.h1-text {
  font-weight: $font-weight-bold;
  font-family: $font-family-headers;
  font-size: $font-size-headers-1;
  color: $headers-color;
  @media only screen and (min-width: $break-large) {
    line-height: 67.61px;
    $font-size-headers-1: 72px;
    font-size: $font-size-headers-1;
  }
}
.h3-text {
  font-weight: $font-weight-bold;
  font-family: $font-family-headers;
  font-size: $font-size-headers-3;
  color: $headers-color;
}
.h4-text {
  font-weight: $font-weight-bold;
  font-family: $font-family-headers;
  font-size: $font-size-headers-4;
  color: $headers-color;
  &__order {
    display: block;
    margin-bottom: 9px;
    font-size: 12px;
  }
}
.h5-text {
  font-weight: $font-weight-medium;
  font-family: $font-family-headers;
  font-size: $font-size-headers-5;
  color: $headers-color;
}
.plain-text {
  line-height: 1.5;
  font-weight: $font-weight-reg;
  font-family: $font-family-plain-text;
  font-size: $font-size-plain-text;
  color: $color-plain-text;
  @media only screen and (min-width: $break-large) {
    $font-size-plain-text: 16px;
    font-size: $font-size-plain-text;
  }
}

.navigation {
  background-color: $bg-color-sections;
  &__buy-button {
    margin: 56px 0 120px 0;
    color: $color-btn-light;
    border-color: $color-btn-light;
    @media only screen and (min-width: $break-large) {
      margin: 0 0 0 35px;
    }
  }
  &__menu-header {
    margin-top: 40px;
    @media only screen and (min-width: $break-large) {
      display: none;
    }
  }
  &__drop-down-menu {
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    padding-left: 16px;
    overflow: hidden;
    background-color: $bg-color-sections;
    z-index: 1;
    position: absolute;
    transition: height .3s ease-out;
    @media only screen and (min-width: $break-large) {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      position: static;
      overflow: auto;
      width: auto;
    }
    &_expand {
      height: $height-header-menu;
    }
    &:after {
      content: 'menu';
      font-weight: $font-weight-black;
      font-family: $font-family-headers;
      font-size: 215px;
      right: -66px;
      top: -33px;
      position: absolute;
      width: 100%;
      color: $color-bg-text;
      writing-mode: tb-rl;
      @media only screen and (min-width: $break-large) {
        display: none;
      }
    }
    &:before {
      content: "";
      z-index: $z-menu-before;
      margin-left: -16px;
      top: calc(#{$height-header-menu} - 4.5px);
      width: 100%;
      height: 4px;
      background-color: #FF699F;
      display: block;
      position: absolute;
      @media only screen and (min-width: $break-large) {
        display: none;
      }
    }
  }

  &__list {
    margin-top: 45px;
    @media only screen and (min-width: $break-large) {
      margin: 0 -12px;
    }
  }
  &__hamburger {
    z-index: $z-hamburger;
  }
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 21px 16px;
    position: relative;
  }
}
.logo {
  white-space: nowrap;
  font-family: $font-family-logo;
  font-size: $header-logo-size;
  font-weight: $font-weight-bold;
  &__link {
    &_color_dark {
      color: #000;
    }
    &_color_white {
      color: #fff;
    }
  }
}

.links-list {
  @media only screen and (min-width: $break-large) {
      display: flex;
  }
  &__list-item {
    margin-top: 40px;
    &:first-child {
      margin-top: 0;
    }
    @media only screen and (min-width: $break-large) {
      margin: 0 12px;
    }
  }
  &__link {
    @extend .h3-text;
    color: $headers-color;
    border-bottom: 2px solid transparent;
    &:hover {
      border-color: $headers-color;
    }
    @media only screen and (min-width: $break-large) {
        font-family: $font-family-links;
        font-size: 14px;
        font-weight: $font-weight-reg;
    }
  }
  &__buy-button {
    margin-top: 43px;
  }
}

.hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (min-width: $break-large) {
    display: none;
  }
  &__item {
    border-radius: 4px;
    width: 32px;
    height: 2px;
    background-color: #000;
    margin-top: 4px;
    &_pos_top {
      margin: 0;
      animation: top-item-rotate-close .3s ease-in-out forwards;
    }
    &_pos_center {
      animation: center-item-show .3s ease-in-out forwards;
    }
    &_pos_bot {
      animation: bot-item-rotate-close .3s ease-in-out forwards;
    }
    &_animation_none {
      animation: none !important;
    }
  }
  &_animation_close-menu {
    .hamburger__item_pos_top {
      animation: top-item-rotate-open .3s ease-in-out .3s forwards;
    }
    .hamburger__item_pos_center {
      animation: center-item-hide .3s ease-in-out .3s forwards;
    }
    .hamburger__item_pos_bot {
      animation: bot-item-rotate-open .3s ease-in-out .3s forwards;
    }
  }
}
//keyframes for hamburger
@keyframes bot-item-rotate-close {
  0% {
    transform: translateY(-6px) rotate(-45deg);
  }
  50% {
    transform: translateY(-6px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes top-item-rotate-close {
  0% {
    transform: translateY(6px) rotate(45deg);
  }
  50% {
    transform: translateY(6px) rotate(0deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}
@keyframes center-item-hide {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes top-item-rotate-open {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(6px) rotate(0deg);
  }
  100% {
    transform: translateY(6px) rotate(45deg);
  }
}
@keyframes center-item-show {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bot-item-rotate-open {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-6px) rotate(0deg);
  }
  100% {
    transform: translateY(-6px) rotate(-45deg);
  }
}
.buy-button {
  font-family: $font-family-buy-button;
  font-size: $font-size-buy-button;
  font-weight: $font-weight-semi-bold;
  color: $color-btn-dark;
  border: 2px solid $color-btn-dark;
  padding: 11px 40px;
  border-radius: 3px;
  background-color: #fff;
  &_theme_light {
    color: $color-btn-light;
    border-color: $color-btn-light;
  }
  &_theme_dark {
    color: $color-btn-dark;
    border-color: $color-btn-dark;
  }
  &_desktop {
    @media only screen and (min-width: $break-large) {
      padding: 6px 40px;
      color: $color-btn-dark;
      border-color: $color-btn-dark;
    }
  }
  &__icon {
    height: 15px;
    width: 7.5px;
  }
  &__btn-text-desktop {
    display: none;
    @media only screen and (min-width: $break-large) {
      display: inline;
    }
  }
  &__btn-text-mobile {
    @media only screen and (min-width: $break-large) {
      display: none;
    }
  }
  &_size-mobile_s {
    border-radius: 50%;
    padding: 4.5px 9.5px 4.5px 7.5px;
    @media only screen and (min-width: $break-large) {
      border-radius: 3px;
      padding: 11px 40px;
    }
  }
}
.icon-arrow {
  border: solid #FF699F;
  border-width: 0 3px 3px 0;
  border-radius: 3px;
  display: inline-block;
  padding: 4px;
  &__right {
    transform: rotate(-45deg);
  }
}
.header {
  background-color: $bg-color-sections;
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: $break-medium) {
      padding: 0 16px;
      flex-direction: row;
    }

  }
  &__promo-img-container {
    overflow: hidden;
    padding-top: 73%;
    position: relative;
    @media only screen and (min-width: $break-medium) {
      padding-top: 0;
      width: 67%;
      order: 2;
    }
  }
  &__promo-img {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    width: 100%;
    position: absolute;
    @media only screen and (min-width: $break-medium) {
      height: 100%;
      width: auto;
    }
  }
  &__intro-content {
    @media only screen and (min-width: $break-medium) {
      width: 43%;
      order: 1;
    }
  }
}
.intro-content {
  padding: 32px 16px;
  @media only screen and (min-width: $break-medium) {
    padding: 30px 30px 30px 0;
  }
  @media only screen and (min-width: $break-max) {
    padding: 70px 70px 70px 0;
  }
  &__location {
    display: none;
    @media only screen and (min-width: $break-large) {
      margin-top: 16px;
      display: block;
    }
  }
  &__plain-text {
    margin-top: 30px;
    padding-right: 7%;
    @media only screen and (min-width: $break-medium) {
      margin-top: 30px;
      padding-right: 0;
    }
  }
  &__buy-button {
    margin-top: 24px;
    @media only screen and (min-width: $break-large) {
      margin-top: 40px;
    }
  }
}
.services {
  background-color: $bg-color-sections;
  padding: calc(2 * #{$padding-sections-btw}) 0 $padding-sections-btw 0;
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    padding: 0 16px;
  }
  &__row {
    display: flex;
    flex-direction: column;
    margin: -8px auto;
    max-width: 421px;
    @media only screen and (min-width: $break-large) {
      max-width: none;
      flex-direction: row;
      margin: 0 -8px;
    }
  }
  &__section-item-default {
    margin: 8px 0;
    @media only screen and (min-width: $break-large) {
      margin: 0 8px;
      width: 33.3333%;
    }
  }
}
.section-intro {
  padding: 0 32px 32px 0;
  @media only screen and (min-width: $break-medium) {
    width: 70%;
  }
  @media only screen and (min-width: $break-large) {
    padding-bottom: 50px;
  }
  &__plain-text {
    margin-top: 12px;
  }
}
.section-item-default {
  border: 1px solid rgba(0, 0, 0, .04);
  border-radius: 2px;
  box-shadow: 0 4px 30px 0 rgba(207, 207, 207, .5);

  &__image-container {
    //mixin ?
    overflow: hidden;
    padding-top: 100%;
    position: relative;
    &_desktop {
      @media only screen and (min-width: $break-large) {
        width: 46%;
        padding-top: 1%;
      }
    }
  }
  &__service-image {
    //mixin ?
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    width: 100%;
    position: absolute;
    &_desktop {
      @media only screen and (min-width: $break-large) {
        width: auto;
        height: 100%;
      }
    }
    &_desktop-ann {
      @media only screen and (min-width: $break-large) {
        left: -56px;
      }
    }
    &_desktop-tom {
      @media only screen and (min-width: $break-large) {
        left: -104px;
      }
    }
  }
  &__content {
    position: relative;
    padding: 24px 21px 30px 16px;
    &_desktop {
      @media only screen and (min-width: $break-large) {
        width: 54%;
        padding-right: 0;
      }
    }
  }
  &__list {
    margin-top: 15px;
    @media only screen and (min-width: $break-large) {
      margin-top: 23px;
    }
  }
  &__list-item {
    margin-top: 7px;
  }
  &__list-item:first-child {
    margin: 0;
  }
  &__subheader {
    margin-top: 3px;
  }
  &__coach-characteristic {
    opacity: 0.5;
    @media only screen and (min-width: $break-large) {
      margin-right: 8px;
    }
  }
  &__coach-info {
    @media only screen and (min-width: $break-large) {
      display: flex;
    }
  }
  &__buy-button {
    position: absolute;
    right: 16px;
    bottom: 16px;
    @media only screen and (min-width: $break-large) {
      position: static;
      margin: 88px 0 20px 0;
      right: 0;
      bottom: 0;
    }
  }
  &_desktop {
    @media only screen and (min-width: $break-large) {
      display: flex;
    }
  }
}
.offer {
  background-color: $bg-color-sections;
  padding: $padding-sections-btw 0 $padding-sections-btw 0;
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    padding: 0 16px;
  }
  &__offer-items {
    display: flex;
    flex-direction: column;
    margin: -12.5px 0;
    @media only screen and (min-width: $break-medium) {
      flex-wrap: wrap;
      flex-direction: row;
    }
    @media only screen and (min-width: $break-large) {
      margin: -25px 0;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 12.5px 0;
    @media only screen and (min-width: $break-medium) {
      width: 50%;
    }
    @media only screen and (min-width: $break-large) {
      margin: 25px 0;
    }
  }
}
.offer-item {
  width: 156px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (min-width: $break-large) {
    width: 166px;
  }
  @media only screen and (min-width: $break-large) {
    width: 177px;
  }
  &__icon {
    width: 58px;
    height: 44px;
    fill: $light-theme-color;
    @media only screen and (min-width: $break-large) {
      width: 94px;
      height: 71px;
    }
  }
  &__plain-text {
    width: 100%;
    text-align: center;
    margin-top: 12px;
    color: #000;
  }
}
.coaches {
  background-color: $bg-color-sections;
  padding: $padding-sections-btw 0 $padding-sections-btw 0;
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    padding: 0 16px;
  }
  &__section-item-default {
    max-width: 360px;
    @media only screen and (min-width: $break-large) {
      max-width: none;
    }
  }
}
.content-slider {
  & .content-slider__swiper-pagination {
    position: static;
    z-index: 0;
    margin: 0 -4px;
  }
  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 4px 0 4px;
    background-color: $light-theme-color;
  }
}
.swiper-button {
  width: 200px;
  height: 200px;
  background-color: #000;
}
.swiper-control {
  margin: 16px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: $break-large) {
    margin-top: 24px;
    width: 160px;
  }
}
.arrow {
  background: #000;
  height: 2px;
  width: 37px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  border-radius: 2px;
  &_mobile {
    display: none;
    @media only screen and (min-width: $break-large) {
      display: block;
    }
  }
  &:before,
  &:after {
    content: "";
    background: #000;
    position: absolute;
    height: 2px;
    width: 15px;
    border-radius: 2px;
  }
  &_left {
    &:before {
      right: 15px;
      bottom: -5px;
      transform: rotate(45deg);
    }

    &:after {
      right: 15px;
      top: -5px;
      transform: rotate(-45deg);
    }
  }
  &_right {
    &:before {
      right: -3px;
      bottom: -5px;
      transform: rotate(-45deg);
    }

    &:after {
      right: -3px;
      top: -5px;
      transform: rotate(45deg);
    }
  }
}
.footer {
  background-color: $color-bg-footer;
  padding: $padding-sections-btw 0 $padding-sections-btw 0;
  &__container {
    @include media-layout($break-medium, $break-large, $break-great, $break-max);
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__plain-text {
    color: #fff;
  }
}
.drop-animation {
  animation: none !important;
}