$break-max: 1400px;
$break-great: 1200px;
$break-large: 992px;
$break-medium: 768px;

$height-header-menu: 622px;

$z-hamburger: 1;
$z-menu-before: 1;

$order-hamburger: 2;
$order-logo: 1;
$order-menu: 3;

$bg-color-doc: #fff;
$bg-color-sections: #fff;
$headers-color: #000;
$header-logo-color: #000;
$color-btn-light: #FF699F;
$color-bg-text: #FEF2F6;
$color-btn-dark: #000;
$color-plain-text: #000;
$light-theme-color: #FF699F;
$color-bg-footer: #000;

$font-size-headers-1: 36px;
$font-size-headers-3: 24px;
$font-size-headers-4: 18px;
$font-size-headers-5: 24px;
$font-size-plain-text: 14px;
$font-size-buy-button: 16px;
$header-logo-size: 18px;

$font-family-plain-text: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-buy-button: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-logo: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-headers: 'Montserrat', Helvetica, Arial, sans-serif;
$font-family-links: 'Roboto', Helvetica, Arial, sans-serif;
$font-weight-reg: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

$padding-sections-btw: 28px;